@import "/src/vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 20px 10%;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  z-index: 2;
  background-color: var(--color-navBar);
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-title);
  text-align: left; 
  flex: 1; 
}

.menuBtn {
  display: none;
  position: absolute; 
  right: 10%; 
  width: 24px;  
  height: 24px; 
  cursor: pointer;
}

.menu {
  display: flex;
  position: absolute; 
  right: 10%; 
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 20px;
  color: var(--color-text);
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
  }
  
  .title {
    flex: none; 
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(69, 149, 91);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgb(245, 246, 247) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}